<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class ="container">
        <div class ="top">
           <p>Your Gold:<{{ gold won}}/p> 
        </div>
        <div class ="mid">
<form class="farm">
        <p>Earn gold</p>
        <button type="submit">Submit!</button>
</form>
<form class="Cave">
        <p>Earn gold</p>
</form>
<form class="House">
        <p>Earn gold</p>
</form>
<form class="Casino">
        <p>Earn/takes gold</p>
</form>
        </div>
        <div class ="bot">
            <p>Activities:</p>
            <textarea>
            </textarea>

        </div>
    </div>

</body>
</html>