<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class ="container" action ="/process">
        <div class ="top">
        <p>Your Gold: {{session['gold']}}
        <button 
        <a href="/reset" > reset</a> </button>
        </div>
        <div class ="mid">
<!-- ########################             -->
<form class="farm" action="/process" method="POST">
    <h3>Farm</h3>
    <p>earns 10-20 golds</p>
    <input type="hidden" name="building"  value="farm"></input>
    <button type="submit">Find Gold!</button>
</form>
<form class="Cave" action="/process" method="POST">
    <h3>Cave</h3>
    <p>earns 5-10 golds</p>
    <input type="hidden" name="building"  value="cave"></input>
    <button type="submit">Find Gold!</button>
</form>
<form class="House" action="/process" method="POST"> 
    <h3>House</h3>
    <p>earns 2-5 golds</p>
    <input type="hidden" name="building"  value="house"></input>
    <button type="submit">Find Gold!</button>
</form>
<form class="Casino" action="/process" method="POST">
    <h3>Casino</h3>
    <p>earn\takes 0-50 golds</p>
    <input type="hidden" name="building"  value="casino"></input>
    <button type="submit">Find Gold!</button>
</form>
        </div>
        <div class ="bot">
            <table>
            <h3>Activities:</h3>
            <ul class="bottom" name ="activities" value="log" class="activities">
                {% for activity in session.activities %}
                <li name="activities"  class="log" >{{activity}}
                </li>
                {% endfor %}
            </ul>
            </table>
        </div>
    </div>

</body>
</html>